@charset "ISO-8859-1";


.custom-bg-color {
	background-color: #0b090a;
}

.custom-text-color-orange {
	color: #ffba08; /* Replace with your desired color #ff9f1c */
}
.custom-btn-bgcolor-orange {
	background-color: #ffba08; /* Replace with your desired color */
	color: black; /* Ensure text color contrasts well */
    border: none;
    border-radius: 25px;
}
.card-border{
	border-color: white;
}
.custom-btn-outline {
    border-color: #ffba08;
    color: #ffba08;
}

.custom-btn-outline-custom:hover {
    background-color: #ffba08;
    color: #fff;
}



